<h1><%= @place.name %></h1>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-success">New Post</a>
</p>

<% for post in @place.posts %>
  <h3><%= post.title %></h3>
  <h4><%= post.posted_on %></h4>
  <p><%= post.description %></p>
<% end %>